# Бенчмарк

задачи для студентов 2го курса ВМК МГУ

https://www.kaggle.com/c/msu-iml-2018/

2018, Александр Дьяконов https://dyakonov.org/ag/

In [21]:
import pandas as pd
import numpy as np
%pylab inline
plt.style.use('seaborn-dark')
import warnings
warnings.filterwarnings("ignore") # отключение варнингов
pd.set_option('display.max_columns', None) # pd.options.display.max_columns = None 
# pd.set_option('display.max_rows', None) # не прятать столбцы при выводе дата-фреймов
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.rc('font', size=14)

Populating the interactive namespace from numpy and matplotlib

# загружаем данные

не забудьте поменять каталоги

In [23]:
train = pd.read_csv('./data_GMSC/train.csv')
test = pd.read_csv('./data_GMSC/test.csv')

In [24]:
# размеры данных
print(train.shape, test.shape)

(112500, 11) (37500, 10)

# смотрим на данные

In [25]:
train.sample(5)

,плохой_клиент,линии,возраст,поведение_30-59_дней,Debt_Ratio,доход,число_кредитов,поведение_90_дней,недвижимость,поведение_60-89_дней,семья
5522,0,0.111673,46,0,1.329588,800.0,8,0,1,0,2.0
89385,0,0.044097,69,0,0.535122,3800.0,10,0,1,0,0.0
81586,0,0.047598,77,0,0.169610,3000.0,7,0,1,0,0.0
105108,0,0.761149,58,1,2217.000000,NaN,4,0,1,0,0.0
3543,0,0.690684,55,0,0.432552,12416.0,7,0,2,0,2.0

# если хотите работать с numpy-массивом

In [27]:
X = train.values
X[:2,:]

array([[0.00000000e+00, 3.12582480e-02, 5.70000000e+01, 0.00000000e+00,
        3.97520496e-01, 5.00000000e+03, 1.50000000e+01, 0.00000000e+00,
        2.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 5.23315890e-02, 6.40000000e+01, 0.00000000e+00,
        5.70000000e+01,            nan, 2.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00,            nan]])

# готовим данные

In [28]:
y = train.pop('плохой_клиент') # целевой вектор
train.shape, y.shape

((112500, 10), (112500,))

In [29]:
# заменить пропуски на -11
train.fillna(-11, inplace=True)
test.fillna(-11, inplace=True)

# Обучаем модель

In [14]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
model.fit(train, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [19]:
a = model.predict_proba(test)[:,1] # вероятности

In [20]:
# сохранить решение
pd.DataFrame({'id': np.arange(37500), 'a':a}).to_csv('./data_GMSC/solution.csv', index=False)